/*Authored by Jack Terrell*/
/*Copyright StrongWares Consulting LLC and Etc. Management LLC 2019*/

@font-face {
	font-family: "Honey Script";
	src: url('../../../assets/fonts/HoneyScript-Light.ttf') format('truetype');
}
.honey-script{
	font-family: "Honey Script", cursive;
}
@font-face{
	font-family: "Bosthon Brush";
	src: url("../../../assets/fonts/BOSTHONBRUSH.otf") format("opentype");
}
.bosthon-brush{
	font-family: "Bosthon Brush";
}
body{
	background-image: url('../assets/img/artists-bg.jpg');
	background-color: black;
}
#intro{
	display: none;
	margin-top: 250px;
	text-align: center;
	color: black;
	font-size: 200px; 
	text-shadow: 0px 0px 100px #FF6F61;
}