<!doctype html>

<!--SERVICES TEMPLATE-->

<html lang="en">

<head>
	<meta charset="utf-8">
	<title>etc management</title>
	<meta name="description" content="etc management artist digital media promotions">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="icon" type="image/png" href="../../assets/img/etc-favicon.png">

	<link rel="stylesheet" href="../../controllers/normalize.css">
	<link rel="stylesheet" href="css/stylesheet.css">
	
<!--FONTS-->
	<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">

<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-134328256-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-134328256-1');
	</script>
</head>

<body>
	
<!--INTRO TEXT-->  
	<section id="intro">
		<div id="intro-text" class="honey-script">Services</div>
	</section>
	
<!--PAGE HEADER-->
	<section id="header">
		<h2>Discover our premium services.
		<br />Engage our team of professionals and maximize your exposure.</h2>
		<h1>Creative Branding
		<br />for
		<br />Creative People</h1>
	</section>
	
<!--SERVICES-->
	<section id="services">
		<div id="services-container">
			<h1>Services</h1>
			<table id="services-table" style="margin: 0 auto;">
				<tr>
					<td>
						<img src="assets/img/growth-icon.png" alt="promotion icon" width="100px" id="growth-icon" />
						<br />Instagram Growth
					</td>
				</tr>
			</table>
		</div>
	</section>
	
	
<!--NAVIGATION-->
	<nav class="navigation">
		<table width="100%">
			<tr>
				<td width="200px" class="honey-script"><div id="homebutton"><a href="https://www.jackterrell.org/etcmanagement">etc management</a></div></td>
				<td>
					<ul>
						<li><a href="#"><span>Services</span></a></li>
						<li><a href="#"><span>Artists</span></a></li>
						<li><a href="#"><span>Blog</span></a></li>
						<li><a href="#"><span>Contact</span></a></li>
						<li class="account"><a href="#"><span>My Account</span></a></li>
					</ul>
				</td>
			</tr>
		</table>
	</nav>

<!--SCRIPTS-->
	<script src="../../controllers/lib/jquery-3.3.1.min.js"></script>
	<script src="js/animation.js"></script>
	
<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
	<script>
	window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
	ga('create', 'UA-134328256-1', 'auto'); ga('send', 'pageview')
	</script>
</body>

</html>
