<!--LANDING PAGE-->

<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>etc management</title>
	<meta name="description" content="etc management artist digital media promotions">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="icon" type="image/png" href="../../assets/img/etc-favicon.png">

	<link rel="stylesheet" href="../../controllers/normalize.css">
	<link rel="stylesheet" href="css/landing.css">
	
<!--FONTS-->
	<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">

<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-134328256-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-134328256-1');
	</script>
</head>

<body>

<!--LOGO-->  
	<section id="logo-container">
		<div id="logo" class="honey-script">etc management</div>
	</section>
	
<!--REGISTER-->
	<section id="register">
		<h1>Join Our Growing Team!</h1>
		<p style="font-size: 10px; margin: 0px;">By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
		<!--REGISTER FORM-->
		<form name="register" id="register-form" method="post" onSubmit="../../controllers/php/landing-form.php" action="../registration/index.php">
			<label for="artist-comp-name" style="margin: 0px 5px 0px 20px;">Artist/Company Name:</label>
			<input type="text" name="artist-comp-name" id="artist-comp-name" size="30" maxlength="40" required />
			<label for="email" style="margin: 0px 5px 0px 20px;">Email:</label>
			<input type="email" name="email" id="email" size="30" maxlength="60" required />
			<button type="submit">Register</button>
		</form>
	</section>
	
<!--Big Text-->
	<section id="big-text">
		<h1>Branding · Consulting · Digital Marketing · Graphic Design</h1>
		<h1>Artist Management · Music Marketing · Promotion</h1>
	</section>
	
<!--LOGO BOX-->
	<section id="logo-box">
		<div style="width: 1250px;">
			<table width="100%">
				<tr>
					<td><img src="../../assets/img/etc-logo.png" alt="logo" height="250px"></td>
					<td>
						<h1 style="text-align: center">Fueled by a passion for <span style="font-weight: bolder">branding</span> and driven by a desire to CHANGE the INDUSTRY</h1>
						<p>etc. Management is dedicated to the development, growth, and protection of their clients' freedom of creativity and their success as independent brands.</p>
						<p>Weather you're a musician, band, promotion company, actor/ actress, dancer, or just general creative individual with an idea for an amazing brand, etc. Management has the tools and resources to help you make your digital marketing & branding goals achievable!</p>	
					</td>
				</tr>
			</table>
		</div>
	</section>
	
<!--FLAGS-->
<!--
	<section id="flags">
		<table id="flag-table">
			<tr>
				<td>
					<img src="../../assets/img/start-icon.png" alt="start-icon" />
					<h3>start your brand</h3>
				</td>
				<td>
					<img src="../../assets/img/start-icon.png" alt="start-icon" />
					<h3>start your brand</h3>
				</td>
				<td>
					<img src="../../assets/img/start-icon.png" alt="start-icon" />
					<h3>start your brand</h3>
				</td>
			</tr>
		</table>
	</section>
-->
	
	
<!--NAVIGATION-->
	<nav class="navigation">
		<table width="100%">
			<tr>
				<td width="200px" class="honey-script"><div id="homebutton"><a href="https://www.jackterrell.org/etcmanagement">etc management</a></div></td>
				<td>
					<ul>
						<li><a href="#"><span>Services</span></a></li>
						<li><a href="#"><span>Artists</span></a></li>
						<li><a href="#"><span>Blog</span></a></li>
						<li><a href="#"><span>Contact</span></a></li>
						<li class="account"><a href="#"><span>My Account</span></a></li>
					</ul>
				</td>
			</tr>
		</table>
	</nav>

<!--SCRIPTS-->
	<script src="../../controllers/lib/jquery-3.3.1.min.js"></script>
	<script src="js/landing.js"></script>
	
<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
	<script>
	window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
	ga('create', 'UA-134328256-1', 'auto'); ga('send', 'pageview')
	</script>
</body>

</html>
