/*Authored by Jack Terrell*/
/*Copyright StrongWares Consulting LLC and Etc. Management LLC 2019*/

@font-face {
	font-family: "Honey Script";
	src: url('../../../assets/fonts/HoneyScript-Light.ttf') format('truetype');
}
.honey-script{
	font-family: "Honey Script", cursive;
}
@font-face{
	font-family: "Bosthon Brush";
	src: url("../../../assets/fonts/BOSTHONBRUSH.otf") format("opentype");
}
.bosthon-brush{
	font-family: "Bosthon Brush";
}
body{
	background-image: url("../../../assets/img/bg.jpg");
	background-color: black;
	font-family: 'Quicksand', sans-serif;
}
#logo{
	display: none;
	margin-top: 100px;
	text-align: center;
	color: white;
	font-size: 200px; 
	text-shadow: 0px 0px 100px #FF6F61;
}
#register{
	display: none;
	text-align: center;
	color: white;
	margin-top: 100px;
}
#register-form{
/*	margin-top: 100px;*/
}
#register-form input{
	border: 1px solid white;
	background-color: #3C3C3C;
	color: white;
	font-family: Monospace;
	border-radius: 5px;
	padding: 5px 10px;
	
}
#register-form button{
	margin: 20px 0px 10px 20px;
	padding: 5px 10px;
	background-image: linear-gradient(180deg,
        #626262, 
        #7D7D7D 80%,
        #CFCFCF );
	color: white;
	border: 1px solid black;
	border-radius: 5px;
}
#register-form button:hover{
	border: 1px solid #B7B7B7;
	cursor: pointer;
}
#big-text{
	display: none;
	text-align: center;
	color: white;
}
#big-text h1{
	font-family: "Bosthon Brush";
	font-size: 50px;
	font-weight: lighter;
	text-shadow: 0px 0px 10px #FF6F61;
	margin-top: 5px;
	margin-bottom: 5px;
}
#big-text h2{
	font-size: 30px;
	margin-top: 5px;
	margin-bottom: 5px;
}
#logo-box{
	display: none;
	margin: 30px 0px;
	align-items: center;
	background: #63ffef;
	background: -moz-linear-gradient(-45deg, #63ffef 0%, #45b5aa 40%, #45b5aa 78%, #63ffef 100%);
	background: -webkit-linear-gradient(-45deg, #63ffef 0%,#45b5aa 40%,#45b5aa 78%,#63ffef 100%);
	background: linear-gradient(135deg, #63ffef 0%,#45b5aa 40%,#45b5aa 78%,#63ffef 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63ffef', endColorstr='#63ffef',GradientType=1 );
}


 /* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

 
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

 
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


