<!doctype html>

<!--SERVICES PAGE-->
<!--Authored by Jack Terrell-->
<!--Copyright StrongWares LLC and Etc. Management LLC 2019-->

<html lang="en">

<head>
	<meta charset="utf-8">
	
	<title>etc management</title>
	
	<meta name="description" content="etc management artist digital media promotions">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
<!--Favicon-->
	<link rel="icon" type="image/png" href="../../assets/img/etc-favicon.png">

<!--stylesheets-->
	<link rel="stylesheet" href="../../controllers/css/normalize.css">
	<link rel="stylesheet" href="../../controllers/css/global.css">
	<link rel="stylesheet" href="css/services.css">
	
<!--FONTS-->
<!--	<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">-->
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">

<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-134328256-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-134328256-1');
	</script>
	
</head>
<body>
	
<!--INTRO TEXT-->  
	<section id="intro">
		<div id="intro-text" class="honey-script">Services</div>
	</section>
	
<!--PAGE HEADER-->
	<section id="header">
		<h2>Discover our premium services.
		<br />Engage our team of professionals and maximize your exposure.</h2>
		<h1>Creative Branding</h1>
		<h1 style="font-size: 60px;">for</h1>
		<h1>Creative People</h1>
	</section>
	
<!--SERVICES-->
	<section id="services">
		<div id="services-container">
			<h1>Services</h1>
			<table id="services-table" style="margin: 0 auto;">
				<tr>
					<td id="growth-cell">
						<img src="assets/img/growth-icon.png" alt="growth icon" width="100px" id="growth-icon" />
						<br /><p id="growth-text">Instagram Growth</p>
					</td>
					<td id="graphicDesign-cell">
						<img src="assets/img/graphicDesign-icon.png" alt="graphic design icon" width="100px" id="graphicDesign-icon" />
						<br /><p id="graphicDesign-text">Graphic Design</p>
					</td>
					<td id="print-cell">
						<img src="assets/img/print-icon.png" alt="print design icon" width="100px" id="print-icon" />
						<br /><p id="print-text">Print &amp; Merchandising</p>
					</td>
				</tr>
			</table>
		</div>
	</section>
	
	
<!--NAVIGATION-->
	<nav class="navigation">
		<table width="100%">
			<tr>
				<td width="200px" class="honey-script"><div id="homebutton"><a href="https://www.jackterrell.org/etcmanagement">etc management</a></div></td>
				<td>
					<ul>
						<li><a href="../services/index.html"><span style="color: white;">Services</span></a></li>
						<li><a href="../artists/index.php"><span>Artists</span></a></li>
						<li><a href="#"><span>Blog</span></a></li>
						<li><a href="#"><span>Contact</span></a></li>
						<li class="account"><a href="#"><span>My Account</span></a></li>
					</ul>
				</td>
			</tr>
		</table>
	</nav>

<!--SCRIPTS-->
	<script src="../../controllers/lib/jquery-3.3.1.min.js"></script>
	<script src="js/animation.js"></script>
	
	<noscript>
		<h1>JavaScript Error</h1>
		<p>Please enable javascript in your browser to use our page.  While you're at it, go ahead and enable cookies.  They are not a security threat as many believe.  Even though those rumors are untrue, it is true that 3rd party cookies can abuse its power in the name of advertising.  The only time we use 3rd party cookies is with google analytics to get an idea of our users' activities.  We never share your personal information with anyone. We are earnest and transparent about our usage of these great technologies, and would never do anything to hurt you or your devices.</p>
		<p>So please feel free to unleash your browser and emerse yourself into our web experience.  Our preffered browser at this time is Chrome.</p>
	</noscript>
	
<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
	<script>
	window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
	ga('create', 'UA-134328256-1', 'auto'); ga('send', 'pageview')
	</script>
</body>
<footer>
	<div id="copyright">&#169; Etc. Management 2019</div>
</footer>

</html>
