/*Authored by Jack Terrell*/
/*Copyright StrongWares Consulting LLC and Etc. Management LLC 2019*/

a{
	text-decoration: underline;
}
@font-face {
	font-family: "Honey Script";
	src: url('../assets/fonts/HoneyScript-Light.ttf') format('truetype');
}
.honey-script{
	font-family: "Honey Script", cursive;
}
@font-face{
	font-family: "Bosthon Brush";
	src: url("../assets/fonts/BOSTHONBRUSH.otf") format("opentype");
}
.bosthon-brush{
	font-family: "Bosthon Brush";
}
body{
/*	background-image: url("../../../views/registration/assets/img/bg-registration.jpg");*/
	background-color: white;
}
p, h1, h2, h3, h4, h5, ul, li {
	margin: 0px;
}
input {
	border: 1px solid black;
	padding: 2px;
	border-radius: 5px;
}
button.update {
	background-color: white;
	color: black;
	border: 1px solid black;
	border-radius: 100%;
}
button.update:hover {
	background-color: white;
	color: black;
	border: 1px solid black;
	border-radius: 100%;
	box-shadow: 2px 2px 5px black;
}